<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Hello World in Backbone.js</title>
</head>
<body>

	<p>login</p>	
	<input name="login" type="text" id="login" size="20">
	<p>password</p>	
	<input name="password" type="text" id="password" size="20">
	<p>realName</p>	
	<input name="realName" type="text" id="realName" size="20">
	<p>phoneNumber</p>	
	<input name="phoneNumber" type="text" id="phoneNumber" size="20">
	<p>email</p>	
	<input name="email" type="text" id="email" size="20">

	<p><button class="button" id="button_id">register</button></p>

	<script type="text/template" id="person_template">	
		<%= login %> , <%= password %> , <%= realName %> , <%= phoneNumber %> , <%= email %>
	</script>

	<script type="text/javascript" src="js/lib/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/lib/underscore.js"></script>
	<script type="text/javascript" src="js/lib/backbone.js"></script>
	<script type="text/javascript" src="js/models/person_model.js"></script>
	<script type="text/javascript" src="js/views/person_view.js"></script>
</body>
</html>
